---
import instantteams from "../../assets/project-logos/instantteamslogo.avif"
import twelvemillionplus from "../../assets/project-logos/twelvemillionplus.avif"
import bayside from "../../assets/project-logos/bayside.avif"
import rocklogo from "../../assets/project-logos/rocklogo.avif"
const logos = [
  {
    title: "Instant Teams",
    imgSrc: instantteams
  },
  {
    title: "12 Million Plus",
    imgSrc: twelvemillionplus
  },
  {
    title: "Bayside Church",
    imgSrc: bayside
  },
  {
    title: "Rock RMS",
    imgSrc: rocklogo
  } 
];
---
<div class="flex flex-col gap-8 md:flex-row md:flex-wrap justify-center items-center lg:gap-0">
  {logos.map((logo) => (
      <img src={logo.imgSrc.src} alt={logo.title} class="w-full h-fit p-3 md:w-2/5 lg:w-1/4" />
  ))
  }
</div>