---
const { title, subTitle } = Astro.props;
---
    <div class="z-10 bg-neutral-base-700 bg-opacity-60">
      <h3 class="uppercase w-full text-center pt-4">{title}</h3>
      {subTitle && <h5 class="line-clamp-2 text-clip">{subTitle}</h5>}
    </div>