---
const { live, github } = Astro.props;
---

    <div class="flex justify-around z-10 ">
      <a href={live} target="_blank" class="rounded-full bg-primary-blue-700 px-2 font-semibold text-display-5 py-1">Live</a>
      <a href={github} target="_blank" class="rounded-full bg-primary-blue-700 px-2 font-semibold text-display-5 py-1">Github</a>
    </div>