---

---
    <div class="h-full w-full grid place-items-center group-hover:opacity-10 group-hover:hover:opacity-100">
    <div class="relative bg-neutral-base-700 rounded-xl w-5/6 aspect-[7/9] grid grid-cols-1 gap-6 auto-rows-min hover:animate-scale-card overflow-hidden shadow-xl ">
      <slot />
    </div>
    </div>