---
import { tools } from '../scripts/tools'
import Scrolling from '../scripts/scrolling.astro'
import BlueButton from '../BlueButton.astro';
import SkillCard from '../card/SkillCard.astro';
import PageTitle from '../PageTitle.astro';
---

<div id="tools" class="w-screen min-h-screen bg-neutral-base-800 snap-end snap-always">
  <div class="pt-28 px-4 flex flex-col gap-8 pb-24 lg:container lg:gap-4">
    <PageTitle>My Tools</PageTitle>
    <div class="flex flex-row mb-8 lg:justify-between">
      <h3 class="lg:w-1/4">
        Discover my favorite tools
      </h3>
    </div>
    <div class="relative overflow-x-visible flex w-full h-max overflow-clip">
      <div id="skill-container" class="relative flex flex-row flex-nowrap lg:justify-end lg:w-full overflow-x-auto scroll-none snap-x h-[60vh]">
        {tools.map((tool) => 
          <SkillCard title={tool.title} icon={tool.svgIcon} description={tool.description} />
          )}   
      </div>
    </div>
    <div class="flex lg:hidden justify-center items-center">
      <h3>Scroll Left</h3>
      <span class="material-symbols-outlined animate-pulse1">arrow_forward_ios</span>
      <span class="material-symbols-outlined animate-pulse2">arrow_forward_ios</span>
      <span class="material-symbols-outlined animate-pulse3">arrow_forward_ios</span>
    </div>
    </div>
  </div>
  <Scrolling />
</div>