---
import ContactForm from "../form/ContactForm.astro";
import Input from "../form/Input.astro"
import Textarea from "../form/TextArea.astro"
import SubmitButton from "../form/SubmitButton.astro";
---

<div id="contact" class=" bg-neutral-base-700 snap-end snap-always">
  <div class="pt-28 px-4 flex flex-col gap-8 pb-24  md:flex-row xl:container">
    <div class="flex flex-col md:w-1/2">
      <div class="white-bar"></div>
      <h2>Interested in working together?</h2>
      <div class="flex flex-row items-center">
        <h2>Let's talk </h2>
        <span class="material-symbols-outlined text-primary-blue-600 text-3xl font-bold">
          arrow_forward
        </span>
      </div>
    </div>
    <div class="flex flex-col justify-center md:flex-1">
      <ContactForm>
        <Input 
        type="text" 
        name="name" 
        placeholder="Name"
        class="" />
        <Input type="email" name="email" placeholder="Email" />
        <Textarea name="message" placeholder="Describe your project" rows="5" />
        <SubmitButton type="submit">Send Message</SubmitButton>
      </ContactForm>
    </div>
  </div>
</div>