---
import PageTitle from "../PageTitle.astro";
import BlueButton from "../BlueButton.astro";
import { skillsArr } from "../scripts/skills";
import Scrolling from "../scripts/scrolling.astro";
import SkillCard from "../card/SkillCard.astro";
import Icon from "astro-icon";
---

<div id="skills" class="w-screen min-h-screen snap-end snap-always bg-neutral-base-900">
  <div class="pt-28 px-4 flex flex-col gap-8 xl:container">
    <div class="flex flex-row">
      <div class="flex-1">
        <PageTitle>Skills</PageTitle>
        <h2>My extensive list of skills</h2>
      </div>
    </div>
    <div class="relative overflow-x-visible flex w-full h-max overflow-clip">
      <div id="skill-container" class="relative flex flex-row flex-nowrap overflow-x-auto scroll-none snap-x h-[60vh]">
        {skillsArr.map((skill) => 
          <SkillCard title={skill.title} icon={skill.svgIcon} description={skill.description} />
          // <div class=" min-h-full min-w-full border-2 border-primary-blue-500 lg:w-[5%] lg:hover:flex-1">
          //  <Icon name={skill.svgIcon} class="w-12 h-auto" />  
          // </div>
          )}   
      </div>
    </div>
    <div class="flex lg:hidden justify-center items-center">
      <h3>Scroll Left</h3>
      <div></div>
      <span class="material-symbols-outlined animate-pulse1">arrow_forward_ios</span>
      <span class="material-symbols-outlined animate-pulse2">arrow_forward_ios</span>
      <span class="material-symbols-outlined animate-pulse3">arrow_forward_ios</span>
    </div>
  </div>
  <Scrolling />
</div>