---
import PageTitle from '../PageTitle.astro'
import { faq } from '../scripts/faq.tsx'
---

<div class="min-h-screen w-screen bg-neutral-cool-grey-900">
  <div class="pt-24 px-4 pb-24 lg:container">
    <div class="flex flex-col items-center gap-4 pb-6">
      <PageTitle>FAQs</PageTitle>
      <h3>Frequently Asked Questions</h3>
      <h5>this is a collection of the questions I get asked most often. If you don't find your answers here use the contact form.</h5>
    </div>
    <div class="flex flex-col items-start w-full gap-6">
    {faq.map((item) => (
      <details class="w-full border-t-2 border-primary-orange-500 py-12 last:border-b-2">
        <summary class=" text-xl">{item.summary}</summary>
        <h5 class="pt-4">{item.response}</h5>
      </details>
    ))}
    </div>
  </div>
</div>