---
import Social from '../Social.astro'
import Input from '../form/Input.astro'
import TextArea from '../form/TextArea.astro'
import SubmitButton from '../form/SubmitButton.astro'
---

<div class="min-h-screen w-screen bg-neutral-base-900">
  <div class="xl:container mx-auto flex flex-col snap-end snap-always justify-center items-center xs:pt-16 xs:pb-24 gap-12">
    <div class="w-full flex flex-col gap-4 pt-16">
      <div class=" white-bar"></div>
    <div class="d3">
      Let's work together
    </div>
    <div class="d4">Get in touch with me</div>
    </div>
    <details>
      <summary class=" text-display-h4">Are you ready to turn your project and dream into a living, breathing reality?</summary>
      <h4 class="pt-4"> I'm here to help you bridge the gap between your vision and its manifestation.Whether you have a groundbreaking idea, a creative endeavor, or a life-changing project in mind,I'm eager to collaborate with you. Let's explore the infinite possibilities, overcome obstacles, and weave your dreams into tangible achievements. I invite you to reach out and start this incredible journey together. Contact me today, and let's make your aspirations a vibrant reality. Your dreams deserve to be more than just dreams; they deserve to be lived.<h4>
    </details>
      <Social />
      <div class=" bg-neutral-base-600 rounded-xl py-6 w-full">
        <form class="flex flex-col gap-8 xs:p-4">
          <Input 
          type="text"
          name="name" 
          placeholder="Your name" />
          <Input 
          type="email"
          name="email" 
          placeholder="Your email address" />
          <Input 
          type="text"
          name="subject"
          placeholder="Subject" />
          <TextArea
          placeholder="Write me a message"
          rows="5"
          name="message" />
          <SubmitButton type="submit">Contact me</SubmitButton>
        </form>
    </div>
  </div>
</div>