---

---
<!--<div id="fullMenu" class="hidden lg:flex flex-row font-mono text-xl gap-8 font-semibold">-->
<!--    <a href="/" class="hover:underline">Home</a>-->
<!--    <a href="/about/" class="hover:underline">About</a>-->
<!--    <a href="/blog/" class="hover:underline">Blog</a>-->
<!--    <a href="/portfolio/" class="hover:underline">Portfolio</a>-->
<!--</div>-->
<div class="fixed -left-[175px] -top-[175px] group">
    <div class="group-hover:group relative h-[400px] w-[400px] rounded-full hover:backdrop-blur-3xl z-50 m-5">
        <h3 class="group-hover:hidden group-hover:backdrop-blur-3xl absolute left-1/2 top-1/2 -translate-x-1/4 -translate-y-3/4"><span id="hamburger" class="material-symbols-outlined text-4xl">MENU</span></h3>
        <a href="/"><h3 class="hidden group-hover:block absolute px-8 left-1/2 top-1/2 translate-x-7 -translate-y-5 hover:bg-neutral-blue-grey-500 rounded-xl">HOME</h3></a>
        <a href="/about"><h3 class="hidden group-hover:block absolute px-8 left-1/2 top-1/2 translate-x-6 -translate-y-2 origin-left rotate-[30deg] hover:bg-neutral-blue-grey-500 rounded-xl">ABOUT</h3></a>
        <a href="/blog"><h3 class="hidden group-hover:block absolute px-8 left-1/2 top-1/2 translate-x-4 -translate-y-0 origin-left rotate-[60deg] hover:bg-neutral-blue-grey-500 rounded-xl">BLOG</h3></a>
        <a href="/portfolio"><h3 class="hidden group-hover:block absolute px-8 left-1/2 top-1/2 translate-x-0 translate-y-1 origin-left rotate-[90deg] hover:bg-neutral-blue-grey-500 rounded-xl">WORK</h3></a>
    </div>
</div>